# Byte-compiled / cache
__pycache__/
*.py[cod]
.mypy_cache/

# Virtual environments
.venv/
env/
.env
ENV/

# Data artifacts
data/raw/
data/fine_tune
data/clean_text.jsonl
data/encoded.txt
data/encoded.bin
data/qa_prompt_completion

# Tokenizer binaries
# tokenizer/*.model
# tokenizer/*.vocab

# Model checkpoints
model/checkpoints/
model/checkpoints_owt/
model/lora_adapters
runs/sml-lm/

# Logs / experiment tracking
wandb/
logs/

# macOS
.DS_Store

# Optional: Python package metadata
*.egg-info/
dist/
build/

